<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6" android:versionName="Lenin Search 6.0" package="dikt_prole.leninsearch" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="LeninSearch"></application>
</manifest>